div.content{
    display: flex;
    border: 2px solid black;
    border-radius: 10%;
    padding: 30px;
    width: 620px;
    margin: auto;
    margin-top: 50px;
}
div.number,.pheptinh{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0px 10px 10px;
}
.pheptinh{
    width: 140px;
    margin-right: 10px;
}
.item,.itemqt{
    height: 60px;
    width: 60px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 40%;
    text-align: center;
}
div.item p{
    margin-top: 18px;
}
div.manhinh{
    color: black;
    margin: 10px 0px;
    border: black 1px solid;
    border-radius: 10%;
    width: 200px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}
.item:active{
    background-color: lightgray;
}
.itemqt{
    background-color: blue;
    color: white;
}
.itemqt:active{
    background-color: red;
    color: white;
}
.ketqua{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    position: absolute;
    margin: 220px 0px 0px 500px;
    border-radius: 20%;
    text-align: center;
    font-weight: 700;
}